#  This file is part of shadowsocks-libev.
#
#  Shadowsocks-libev is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 3 of the License, or
#  (at your option) any later version.
#
## systemctl enable --now shadowsocks-libev
# Created symlink from /etc/systemd/system/multi-user.target.wants/shadowsocks-libev.service to /usr/lib/systemd/system/shadowsocks-libev.service.
#  This file is default for RPM packaging. See also
## mkdir /usr/local/ip-update
## cd /usr/local/ip-update
## wget http://94.103.4.41/updator-amd64-20240320194542
## ln -sfn updator-amd64-20240316202211 updator-linux
## systemctl restart
## vim app.yaml
[Unit]
Description=updator ip Server Service
After=network.target network-online.target

[Service]
Type=simple
User=nobody
Group=nobody
LimitNOFILE=32768
WorkingDirectory=/usr/local/ip-update
Restart=always
ExecStart=/usr/local/ip-update/main-linux -c /usr/local/ip-update/app.yaml

[Install]
WantedBy=multi-user.target